*{
    margin: 0;
    padding: 0;

}

body
{   
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(12, 12, 12),rgba(8, 8, 8, 0.1)),url("https://e0.pxfuel.com/wallpapers/202/520/desktop-wallpaper-crown-crown-aesthetic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


/* navbar starting  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;

}

nav img{
    width: 100px;
    height: 50px;
}

nav button
{
    background: red;
    color: white;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 5px;
   
}
nav button a{
    color: white;
    text-decoration: none;
}

/* navbar ending */

/* center box starting */
.center-box
{
    margin: 0 auto;
    width: 100px ;
    background: white;
    width: 450px;
    height: 450px;
    margin-top: 30px;
}

/* text col starting */
.text-col
{
    margin: 10px 30px;
}


.text-col h1
{
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.text-col p{
    font-size: 20px;
}

.text-col input
{
    margin-left: 30px;
    margin-bottom: 10px;
}

/* text col  ending */


/* text col 1 starting */

.text-col1
{
    margin:10px 30px;
}

.text-col1 p{
    font-size: 17px;
    margin-bottom: 20px;
}
.text-col1 input
{
    padding: 8px 180px 8px 20px;
}

.text-col1 button
{
   
    margin-top: 20px;
    padding: 10px 155px;
    background: rgb(79, 152, 247);
    border: none;
    color: white;
    margin-bottom: 20px;

}

.text-col1 button:hover
{
    background: rgb(60, 140, 245);
}


/* text col 1 ending */

.center-box p a
{
    color: rgb(71, 142, 241);
    text-decoration: none;
    margin-left: 30px;
}


/* center box ending */

.last-text
{
    color: rgb(201, 199, 199);
    margin: 0 auto;
    width: 100px ;
    width: 450px;
    height: 450px;
}